---
---

@import "{{ site.theme }}";

@media screen and (min-width: 64em) {
  .page-header {
    padding: 1rem 1rem;
  }
}

header a {
  color: #fff;
}

figcaption {
  font-size: 80%;
  text-align: center;
}